# Ignore virtualenv folders
Include/*
Lib/*
Scripts/*
tcl/*
pip-selfcheck.json
exercises_backup.jpeg
.idea/*
share/*
.ipynb_checkpoints
etc/*
src/data/HASYv2
src/data/HASYv2/*
src/dependencies/*
src/data/HASYv2.tar.bz2